version: "3.9"
services:
  web:
    build:
      context: .
      target: dev
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - FLASK_DEBUG=1
    volumes:
      - ./app:/app/app:delegated
      - ./wsgi.py:/app/wsgi.py:delegated
    command: flask run --debug

