flask==3.0.3
numpy==2.1.2
scipy==1.14.1
requests==2.32.3
python-dotenv==1.0.1

imp
map
_decomp_qr
click
csv
htmlentitydefs
test_linprog
_types
ConfigParser
_result
_decomp
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
_ansari_swilk_statistics
_export_format
_filter_design
timeit
_nbit
_support_alternative_backends
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
urllib3
models
reporters
_multicomp
_construct
_minpack_py
_winreg
signer
_short_time_fft
test_public_api
pip
req_install
_parser
_traversal
email
_version
markers
pytest
box
cgi
_csc
_internal
_mstats_extras
_interpolation
dotenv
_arrayterator_impl
_pick
_spline
data
tbtools
_formatting
_array_utils_impl
radau
_dtype_like
exceptiongroup
_stride_tricks_impl
rcont
types
_upfirdn_apply
compiler
doctest
lgmres
_sparsetools
screen
hypothesis
cryptography
pwd
embed
printoptions
_bsplines
fixtures
_superlu
serving
special
_fit
_resampling
_elffile
py34compat
_shortest_path
cfuncs
actions
lapack
errno
_solve_toeplitz
serializer
_basic
scope
_mio5_params
sksparse
settings
numarray
_measurements
_winconsole
_palettes
_binned_statistic
OpenSSL
lsoda
compat
_survival
__builtin__
collections
bccache
_lsq
ssl
_ufunc
table
_macos_compat
curses
globals
zipimport
_milp
shape_base
_internal_utils
_matching
fetch
_globals
gzip
initialise
signal
_isocbind
_spherical_voronoi
win32con
twisted
fromnumeric
array_interface_testing
_idl
ext
color_triplet
_fourier
shutil
linalg
ox_profile
_scalars
helper
_bglu_dense
cookies
_envs
_coo
contrib
visitor
mypy
_binomtest
hermite_e
pytest_timeout
_textwrap
uuid
_collections
_gcrotmk
locale
_base_connection
_shape
_ltisys
ast
adapters
_tnc
_abcoll
mmap
_optimize
_morestats
_utilities
posixpath
_interface
_entropy
_harwell_boeing
_identifier
_aliases
legendre
file_storage
cffi
headers
expression
alerts
_qmvnt
cProfile
struct
_arraytools
tracemalloc
py_compile
_manager
docutils
region
_stats
_tukeylambda_stats
urlparse
thread
_stats_mstats_common
zlib
sources
_trustregion_constr
numbers
retry
_fitpack_impl
concurrent
_cobyla_py
ipython
extra_validations
warning_types
_propack
_bvp
shlex
java
_mannwhitneyu
dask
_type_aliases
msvcrt
_implementation
requirements
_exceptions
found_candidates
_collections_abc
_rotation_spline
_native
_helper
Cython
_norm
_fortran
packaging
hashlib
_slsqp_py
_spfuncs
keyword
_constants
_decomp_cossin
pyparsing
_pseudo_diffs
attr
yaml
brotlicffi
win32
argcomplete
_ctypes
lsq_linear
_codata
_csr
checks
scikits
user_agent
_string_helpers
Queue
_multibytecodec
_morphology
_pytest
ansitowin32
_npyio_impl
_spectral
inspect
cli
unicode
timed
token
ivp
_hessian_update_strategy
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
shell_completion
limited_api_latest
_emoji_codes
tty
_path
urllib3_secure_extra
_socket
_levy_stable
jinja2
_sf_error
iniconfig
dl
bz2
_trustregion_ncg
_sosfilt
matlab
colorama
_common
_data
pickle
_axis_nan_policy
_hypotests
converters
sansio
legacy
mock
_constraints
_biasedurn
versions
copy
loaders
_expm_multiply
_stats_pythran
trf
lib
_decomp_svd
_peak_finding_utils
_dsolve
pickle5
console
_rotation
resource
_realtransforms
_lbfgsb_py
arpack
contextlib
_cythonized_array_utils
_decomp_lu_cython
_backend
win32com
eventlet
upload
version
gc
nodes
random
optparse
trf_linear
_polybase
compileall
_osx_support
gettext
_fftlog
test_discrete_basic
_cubic
_fortran_format_parser
greenlet
scaffold
req_set
constant
factory
theme
_highs
_rgi
fastjsonschema_validations
sqlite3
_lsap
warnings
_ssl_constants
pyodide
_qhull
secrets
test
_differentialevolution
_nonlin
debughelpers
_dia
_scimath_impl
_differentiable_functions
_re
_min_spanning_tree
_miobase
_geometric_slerp
basic
_logsumexp
mem_policy
_byteordercodes
_text
_quadpack_py
_array_api_info
recipes
ntlm
_qap
signals
defaults
railroad
tr_interior_point
_user_array_impl
_deprecation_warning
_decomp_ldl
_pade
_quadrature
_cell_widths
defmatrix
_special_matrices
__version__
_fileno
_hooks
_ni_docstrings
_bsr
_distutils_hack
_root_scalar
_imp
poolmanager
argparse
_plotutils
_max_len_seq_inner
Numeric
platform
constrain
text
__future__
__pypy__
fft
matrixlib
blueprints
_structseq
_json
_nnls
_continuous_distns
_crosstab
rules
pytz
_fetchers
diagram
qp_subproblem
_decomp_polar
helpers
equality_constrained_sqp
_parse
extras
numba
_comb
_itertools
tfqmr
xml
webbrowser
ntpath
_distn_infrastructure
_variation
cython
sessions
_char_codes
org
timeout
_zeros_py
tags
tests
sandbox
_matfuncs
deprecated
readline
_upfirdn
bvls
_legacy
_kdtree
utils
_tools
req_file
_signaltools
einsumfunc
blas
_multiarray_umath
calendar
_flow
http
criterion
matplotlib
_vertex
numerictypes
dummy_thread
parse
_extension
cd
_czt
_reordering
zstandard
socketserver
atexit
google
_decomp_lu
_laplacian
cupyx
windows
zope
multiprocessing
_odepack_py
_array_api
_fitpack_py
_fast_matrix_market
_trlib
distributions
sympy
iterative
weakref
_mio4
HTMLParser
_odrpack
_peak_finding
urls
_pava_pybind
geometry
terminal_theme
_sputils
py36compat
pooch
js
live_render
_mt19937
_warnings
asgiref
math
_waveforms
http2
keyring
_spherical_bessel
interpnd
_ellip_harm
_pcg64
_machar
distutils
bisect
style
polynomial
trove_classifiers
_convertions
levyst
subprocess
_multivariate
codecs
_models
etag
unicodedata
binascii
minres
_relative_risk
_distutils
mixins
mtrand
providers
cpuinfo
_fitpack2
_ni_support
site
_compressed
security
umath
typing_extensions
variables
_helpers
_apply_pyprojecttoml
_numdiff
_procrustes
code_generators
spinner
connectionpool
_rbfinterp
_orthogonal
datastructures
_sketches
msilib
padding
_interpolate
_linprog_ip
response
_mio_utils
_matrix
_registry
wrappers
_wavelets
_ksstats
status_codes
errors
_ndgriddata
_spectral_py
httplib
pygments
bdb
constants
range
_speedups
_rgi_cython
_direct_py
auth
urllib2
encoding
cells
compression
coverage
wsgi
threadpoolctl
tarfile
_rbf
default_styles
selectors
select
difflib
_sampling
bdf
encodings
parser
model
_code
request
importlib
_meson
hermite
monkey
_mio5
_svds
_eigen
packages
_quad_vec
_matfuncs_expm
h2
file_proxy
live
_expm_frechet
decorators
fields
base64
cmath
_array_like
jupyter
_linprog_simplex
fileinput
profile
optim
ctx
testing
filters
_lil
_isolve
_wrap
_page_trend_test
_asarray
url
tempfile
_root
reprlib
givens_elimination
_spfun_stats
dogbox
rk
__about__
provider
_suppress
_util
_generator
highlighter
_dummy_thread
extern
_decomp_update
pdb
util
repr
app
findpaths
scipy_doctest
_matfuncs_sqrtm
filepost
resources
pkgutil
formatting
platformdirs
_mstats_basic
watchdog
csp
function_base
_securetransport
_tokenizer
_typeshed
pstats
zipfile
filelock
array_api_strict
wait
cupy_backends
_bws_test
_odds_ratio
_lambertw
annotationlib
_emoji_replace
lzma
ipaddress
ctypes
system_info
linsolve
_utils
markupsafe
structs
mimetypes
ipywidgets
_shgo
pytest_fail_slow
_trustregion_krylov
storage
accept
ansi
_structures
core
_distr_params
fnmatch
_lib
reports
_impl
html
limited_api1
_sensitivity_analysis
unittest
_fir_filter_design
overrides
pty
_polyint
socks
numpy_distutils
certifi
_dcsrch
drift
textwrap
_gufuncs
cache_control
termios
py3k
panel
progress_bar
_datasource
argparsing
py38compat
_aix_support
dis
PyInstaller
_linalg
memmap
_base
intranges
common
pydoc
_ssl
_linprog_doc
itsdangerous
ssltransport
queue
color
termui
functools
control
charset_normalizer
_catch
StringIO
_discrete_distns
_linesearch
_rvs_sampling
zipp
middleware
_matrix_io
getlimits
_index
pudb
results
apport_python_hook
_spinners
linecache
tomli
torch
hb
_windows
distro
_trustregion_dogleg
config
chebyshev
_ufuncs
minimize_trustregion_constr
_decomp_qz
_ckdtree
faulthandler
string
misc_util
_netcdf
_frozen_importlib_external
gevent
_frozen_importlib
connection
wcwidth
_solvers
netrc
_decomp_cholesky
debug
setuptools
test_continuous_basic
_fftlog_backend
bit_generator
runpy
configparser
base
_lti_conversion
_covariance
_linprog_util
_reloader
environment
runtime
_max_len_seq
terminalwriter
error_reporting
_linprog_rs
stat
_loop
_ellip_harm_2
md
uarray
_extract
arrayprint
abstract
test_zeros
_request_methods
marshal
syntax
xmlrpc
markup
win32api
_special_sparse_arrays
_timer
_philox
fractions
psutil
sparse
_mgc
_reqs
brotli
exc
_rbfinterp_pythran
multiarray
subsolvers
_importlib
protocol
projections
traceback
_arffread
_thread
_callers
glob
capi_maps
chardet
heapq
_trustregion
_macos
_uarray
code
_misc
npy_pkg_config
_iotools
importlib_metadata
specifiers
lsqr
templating
async_utils
auxfuncs
_unuran
_ndbspline
pager
_dual_annealing
source
werkzeug
_decomp_schur
main
fallback
emoji
pexpect
_expired_attrs_2_0
_in_process
_isotonic
numeric
lsmr
_testbuffer
matcher
containers
builtins
rule
idna
canonical_constraint
_direct
report
_trustregion_exact
_savitzky_golay
_stats_py
getpass
cupy
_meta
_sfc64
segment
bindings
com
least_squares
contextvars
framework
crackfortran
ssl_
py
api
_qmc
structures
array
columns
test_minimize_constrained
uts46data
_streams
_linprog
pypocketfft
common_tests
_ratio
jax
_dtype
mpmath
operator
_termui_impl
redis
problem
exceptions
copyreg
_matfuncs_sqrtm_triu
_log_render
_qmc_cy
threading
_ufunclike_impl
_api
_kde
_warnings_errors
grp
_ivp
_filters
test_lsqr
_ode
_pocketfft
hmac
laguerre
_private
_onenormest
_basinhopping
_string
pluggy
_mio
sphinx
itertools
ccompiler_opt
winterm
hooks
pkg_resources
lobpcg
abc
dummy_threading
_core
palette
_minimize
win32pdh
_censored_data
package_data
socket
_dists
licenses
tokenize
xmlrpclib
simplejson
lexer
_ufunc_config
records
contextlib2
jnius
resolvers
more
candidates
_linprog_highs
_sobol
test_minpack
_typing
_toml_compat
align
__main__
_openssl
_download_all
_cobyqa_py
contingency
_mio5_utils
pretty
_dok
_group_columns
tomllib
url_safe
limited_api2
status
realtransforms
_nested_sequence
formparser
decimal
_pypy_irc_topic
StringIO
IPython
Numeric
OpenSSL
HTMLParser
PyInstaller
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
Numeric
OpenSSL
HTMLParser
PyInstaller
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
Numeric
OpenSSL
HTMLParser
PyInstaller
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
Numeric
OpenSSL
HTMLParser
PyInstaller
Cython
ConfigParser
cProfile
Queue
