Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.35
python-dotenv==1.0.1
pdfminer.six==20231228
python-docx==1.1.2
beautifulsoup4==4.12.3
requests==2.32.3
GitPython==3.1.43

connectors
imp
map
click
htmlentitydefs
csv
_types
ConfigParser
impl
_result
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
_export_format
pool
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
urllib3
models
reporters
_winreg
signer
pip
req_install
_parser
email
_version
markers
pytest
box
cgi
cursor
_internal
dotenv
_pick
tbtools
_formatting
unitofwork
cx_Oracle
exceptiongroup
types
interfaces
compiler
doctest
traversals
state
screen
runlength
cryptography
pwd
embed
fixtures
attributes
serving
pysqlite
coreprops
py34compat
_elffile
actions
annotation
errno
sqla_plugin_base
serializer
scope
settings
image
_winconsole
_palettes
OpenSSL
compat
__builtin__
collections
bccache
ssl
dependency
table
_macos_compat
globals
zipimport
converter
_internal_utils
_py_collections
fetch
dialects
cyextension
gzip
initialise
signal
diff
win32con
twisted
mman
sha
names
ext
color_triplet
_orm_types
shutil
ox_profile
decl_api
cookies
pdffont
_envs
contrib
visitor
mypy
test_rowcount
_textwrap
uuid
_collections
pdfinterp
locale
_base_connection
remote
roles
ast
adapters
_abcoll
mmap
_utilities
_concurrency_py3k
posixpath
langhelpers
entities
_identifier
loading
file_storage
cffi
_has_cy
headers
expression
cProfile
functions
struct
tracemalloc
py_compile
_manager
docutils
region
urlparse
thread
pysqlcipher3
pdfdevice
zlib
sources
reserved_words
numbers
retry
concurrent
ipython
extra_validations
warning_types
scoping
shlex
java
sqlcipher3
msvcrt
_implementation
jbig2
_exceptions
found_candidates
requirements
_collections_abc
row
_native
Cython
test_ddl
packaging
hashlib
keyword
pyparsing
attr
bcrypt
brotlicffi
win32
argcomplete
context
ply
user_agent
Queue
_multibytecodec
_pytest
ansitowin32
inspect
cli
gitdb_speedups
unicode
timed
token
_selectable_constructors
smmap
pymysql
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
shell_completion
_emoji_codes
tty
_path
html5lib
_socket
soupparser
urllib3_secure_extra
jinja2
writeonly
error
psycopg
iniconfig
dl
bz2
colorama
_common
pdfminer
pickle
test_select
converters
sansio
legacy
mock
flask_sqlalchemy
root
mapper
copy
loaders
lib
console
schema
pyannotate_runtime
log
contextlib
_cffi_backend
win32com
eventlet
upload
version
gc
nodes
random
optparse
compileall
_osx_support
gettext
lxml
greenlet
scaffold
req_set
constant
asyncpg
factory
theme
test_update_delete
fastjsonschema_validations
sqlite3
warnings
assertsql
_ssl_constants
pyodide
test_deprecations
secrets
test
debughelpers
dynamic
_orm_constructors
_re
test_sequence
_text
ingestion
recipes
ntlm
signals
defaults
railroad
_deprecation_warning
numpy
_cell_widths
__version__
_fileno
_hooks
_distutils_hack
assertions
oracledb
_imp
elements
poolmanager
parsers
argparse
platform
constrain
text
__future__
__pypy__
named_types
lambdas
blueprints
_structseq
_json
plugin
rules
diagram
helpers
_parse
data_structures
relationships
_itertools
xml
webbrowser
ntpath
arcfour
sqltypes
gitdb
cython
sessions
fontmetrics
org
timeout
tags
tests
sandbox
deprecated
readline
_legacy
utils
engine
req_file
buf
calendar
http
submodule
criterion
dummy_thread
socketserver
_extension
cd
zstandard
document
atexit
google
zope
soupsieve
multiprocessing
fun
visitors
pdfparser
weakref
HTMLParser
urls
_saslprep
terminal_theme
psycopg2
ast_transforms
py36compat
js
live_render
_warnings
asgiref
math
http2
keyring
shared
distutils
lxml_html_clean
layout
bisect
style
trove_classifiers
subprocess
objgraph
codecs
etag
unicodedata
binascii
bs4
strategy_options
default
mixins
__meta__
providers
site
_greenlet
coercions
security
typing_extensions
variables
_apply_pyprojecttoml
spinner
connectionpool
typ
datastructures
msilib
padding
docx
response
wrappers
pyodbc
ddl
status_codes
_setmixin
errors
mysql
httplib
pygments
bdb
constants
range
_speedups
auth
urllib2
encoding
cells
compression
coverage
wsgi
tarfile
selectors
default_styles
select
difflib
_code
encodings
parser
model
request
importlib
symbolic
cffi_opcode
monkey
type_api
session
packages
h2
file_proxy
live
decorators
fields
sql
base64
jupyter
plyparser
selectable
profile
test_unicode_ddl
ctx
testing
filters
_wrap
url
tempfile
recompiler
reprlib
_elements_constructors
opc
__about__
properties
ascii85
provider
_suppress
cache_key
highlighter
_dummy_thread
extern
pdb
deprecations
dammit
util
repr
app
provision
findpaths
c_ast
extensions
test_results
filepost
resources
pkgutil
formatting
watchdog
csp
_securetransport
_tokenizer
_typeshed
pstats
zipfile
extension
filelock
wait
git
tag
annotationlib
_emoji_replace
ipaddress
pagination
ctypes
lzma
_utils
markupsafe
structs
stringprep
mimetypes
ipywidgets
accept
ansi
_structures
core
fnmatch
reports
_impl
html
unittest
pty
socks
verifier
test_types
certifi
textwrap
cache_control
test_dialect
termios
panel
progress_bar
orm
test_reflection
argparsing
py38compat
_aix_support
dis
cmapdb
intranges
common
_dml_constructors
_ssl
pydoc
itsdangerous
ssltransport
queue
color
termui
functools
psparser
control
styles
decl_base
charset_normalizer
_catch
StringIO
exclusions
zipp
middleware
cPickle
pudb
results
apport_python_hook
leakcheck
_spinners
linecache
tomli
_windows
distro
cssselect
config
asyncmy
faulthandler
string
_frozen_importlib_external
gevent
inspection
_frozen_importlib
connection
_psycopg_common
pygame
wcwidth
registry
event
_ast_gen
netrc
latin_enc
events
setuptools
debug
test_cte
glyphlist
c_lexer
PIL
runpy
configparser
base
hstore
_reloader
terminalwriter
environment
runtime
error_reporting
stat
_loop
md
lzw
_request_methods
cchardet
abstract
marshal
syntax
xmlrpc
markup
win32api
_timer
psutil
fractions
_reqs
brotli
exc
pdfcolor
concurrency
_importlib
protocol
element
_py_processors
traceback
path_registry
_thread
_callers
glob
state_changes
chardet
heapq
pdftypes
_macos
identity
code
pdfpage
importlib_metadata
specifiers
dml
templating
async_utils
lock
create
pager
result
source
werkzeug
mysqldb
main
pdfdocument
fallback
emoji
pexpect
_in_process
enumerated
query
lextab
reflection
matcher
builder
containers
builtins
reference
BeautifulSoup
rule
idna
_meta
getpass
blob
clsregistry
segment
bindings
oxml
com
contextvars
test_insert
tree
ssl_
api
_py_util
py
section
preloaded
structures
cStringIO
array
columns
uts46data
commontypes
numbering
strategies
pycparser
_ratio
pg_catalog
operator
_termui_impl
redis
exceptions
mapped_collection
copyreg
c_parser
_log_render
threading
operators
_api
grp
encodingdb
hmac
descriptor_props
_string
pluggy
ranges
sphinx
itertools
hooks
winterm
head
pkg_resources
abc
dummy_threading
ccitt
palette
instrumentation
package_data
socket
commit
_dists
licenses
tokenize
xmlrpclib
simplejson
lexer
jnius
contextlib2
resolvers
_py_row
more
candidates
yacctab
_typing
_toml_compat
align
__main__
_openssl
pretty
tomllib
url_safe
status
formparser
decimal
_pypy_irc_topic
StringIO
IPython
cStringIO
OpenSSL
HTMLParser
PIL
BeautifulSoup
cPickle
ConfigParser
cx_Oracle
Cython
cProfile
Queue
StringIO
IPython
cStringIO
OpenSSL
HTMLParser
PIL
BeautifulSoup
cPickle
ConfigParser
cx_Oracle
Cython
cProfile
Queue
StringIO
IPython
cStringIO
OpenSSL
HTMLParser
PIL
BeautifulSoup
cPickle
ConfigParser
cx_Oracle
Cython
cProfile
Queue
StringIO
IPython
cStringIO
OpenSSL
HTMLParser
PIL
BeautifulSoup
cPickle
ConfigParser
cx_Oracle
Cython
cProfile
Queue
