flask>=2.3.0
torch>=2.1.0
tqdm>=4.66.0
numpy>=1.23.0

pareto
imp
conditionset
fsspec
gammasimp
click
csv
ConfigParser
_result
octave
group
_fsdp_init
union
_nbit
relaxed_bernoulli
lie_group
idtracking
ops
channelshuffle
spec
pass_manager
styled
IPython
lowering
_cmsgpack
cycling_iterator
ml_dtypes
_compat
binrel
instancenorm
recurrence
_winreg
compilation
musculotendon
factor_
decimal
_parsing
traversal
setexpr
gruntz
metadata
_version
markers
pytest
pad_mm
_internal
_arrayterator_impl
tbtools
cpp_wrapper_mps
indexed
continuous_bernoulli
_formatting
smtlib
expressionrawdomain
wrap_type
test_multidigraph
_array_utils_impl
tabulate
base_test
_operator
_dtype_like
convert_parameters
_stride_tricks_impl
symbolic_probability
pytest_subtests
slack
sharding_plan
python
symbolic_convert
rich
mod_tracker
state
integerring
pixelshuffle
test_digraph
sympify
elastic_distributed_sampler
stage
_ops_refs
fixtures
printoptions
post_grad
caching
runners
serving
geometric
cpp_gemm_template
matexpr
fusion
onnx
std
gui
graph_drawer
dtype_propagation
serializer
fx
edgebfs
adam
test_multigraph
numarray
orderings
aiohttp
euler
rprop
_palettes
OpenSSL
kl
__builtin__
_unshard_param_utils
collections
_storage_utils
_fake_tensor_utils
digraph
base_data_scheduler
_macos_compat
curses
mst
globals
zero_redundancy_optimizer
reshard
match_utils
_internal_utils
_fsdp_param_group
functional
cpp
gzip
flatten
signal
fromnumeric
_dfm
_trace
color_triplet
misc
rocm_template
input_output_analysis
ox_profile
_envs
activation
dependencies
quantize
visitor
mypy
tensor
eigenvector
xpu
_textwrap
uuid
plot_implicit
base_structured_sparsifier
minpoly
distance
mathml
adapters
second_order
_ops
convert_frame
_utilities
pathway
custom_config
foo
posixpath
runtime_estimator
networksimplex
qconfig
_identifier
rationalfield
functional_adagrad
_aot_autograd
instance_norm_expanded_weights
schemas
file_storage
cffi
pattern_utils
sparse_ndim_array
headers
expression
cProfile
pythonintegerring
functions
libintmath
matrices
clip_grad
struct
tracemalloc
reaching
_manager
docutils
region
compile_fx_subproc
nadam
urlparse
loads
bytecode_transformation
cpp_template_kernel
dot
numbers
retry
multidigraph
dirichlet
ck4inductor
checkpoint_process
warning_types
codecache
java
dask
diagram_drawing
multiset
_type_aliases
graph
_implementation
graph_module
contract
onednn
requirements
backend_config
_collections_abc
Cython
_native
mem_tracker
exp_family
function
assume
packaging
hashlib
functional_rmsprop
system
gradcheck
local_timer
pyparsing
attr
coding
_fsdp_state
transpose
context
_ctypes
_draft_export
metrics
_creation
state_dict_loader
matchpy
user_agent
_equalize
calculus
funcname_cache
utils_worker
kcutsets
default_planner
cli
glob_group
unicode
beam
timed
token
joint
keras
rnn
prepare
polyoptions
resolution
optimizer
multidimensional
fastjsonschema_exceptions
nx_pylab
script_object
cutlass_presets
shell_completion
tty
logic
_socket
jinja2
codeprinter
_codecs
aesara
iniconfig
_dynamo
agca
applyfunc
replay_record
bz2
_stdlib
_common
pickle
gen_view_funcs
serialize
sansio
preflowpush
conv_utils
mock
trace
copy
digits
barriers
logging_utils
upsampling
linear
vector
resource
qs
contextlib
iterables
pynvml
fancysets
_getlimits
upload
matching
etcd_rendezvous_backend
version
trace_dependencies
compileall
examples
lxml
tensorboard
binary_cmp
polynomialring
expr_with_limits
waves
nn_module
output_graph
constant
decomposition
simd
autolevparser
fastjsonschema_validations
micro_pipeline_tp
replace_random
cpp_utils
secrets
test
dense_ndim_array
parametrization
memory_tracker
split_utils
intervalmath
sym_node
_scimath_impl
_re
prefixes
fbgemm
unflatten
_text
data_norm_sparsifier
replace_with_hop_pass_util
functional_adam
distance_measures
module
pde
dfm
block_analysis
sharder
recipes
container
_comparison
defaults
railroad
current_scope_id
output_code
local_elastic_agent
nx_latex
combsimp
fuse_modules
operatorset
weibull
__version__
_hooks
libmpf
polyroots
poolmanager
argparse
virtualized
coremltools
summary
subclass_utils
platform
text
expr_with_intlimits
_structseq
_json
fully_shard
rules
pygit2
tensorrt
implementations
appellseqs
pytz
wrapper_benchmark
parameters
matmul
_random_ops
helpers
pymc
transformed_distribution
numba
_lazy_graph_module
modular
lagrange
extras
cutlass_lib_extensions
torch_xla
webbrowser
torchdistx
ir
cython
wishart
fcntl
ask
exponential
sandbox
readline
_legacy
logistic_normal
glsl
req_file
ctx_manager
commutator
_multiarray_umath
package
_tensor_ops
_print_helpers
http
kcomponents
matplotlib
sdpa
dummy_thread
parse
_extension
zstandard
python_wrapper_mtia
atexit
hypergeometric
multiprocessing
rendezvous
_cache
autograd
load
wrapper_fxir
sympy
edgedfs
HTMLParser
concrete
geometry
gmpy
py36compat
tree_map
asgiref
triton_combo_kernel
homomorphisms
fx_passes
graph_capture_wrappers
_machar
quantize_fx
rocm_benchmark_request
refine
layout
mtia
immutable_collections
pythonrational
_functorch
index_propagation
style
trove_classifiers
current_flow_closeness
reinplace
_debug
subprocess
codecs
etag
einops
comm_analysis
binascii
assumptions
transformers
log_normal
_distutils
mixins
mtrand
providers
kane
site
security
umath
betweenness_subset
variables
boolalg
ndim_array
executorch
_apply_pyprojecttoml
subgraph_lowering
compile_utils
dense
tvm
optimize_indexing
connectionpool
datastructures
holonomicerrors
mixture_same_family
integrals
symengine
solveset
cpu_vec_isa
c
runtime_utils
coreerrors
yarl
onnx_ir
quantization
invoke_subgraph
moviepy
adaptive
httplib
_speedups
analyze
urllib2
encoding
checkpoint_activation
checkpoint_writer
wrapping_geometry
compression
comms
wsgi
vmap
selectors
threadpoolctl
default_styles
etcd
creation
gen_python_functions
parser
recognition
euclidtools
monkey
request
singleton
conv_add
common_utils
session
adamax
control_plots
pythonrationalfield
packages
passes
algebras
domainmatrix
file_proxy
fields
printing
_array_like
cmath
jupyter
polyfills
edmondskarp
curve
testing
filters
_wrap
url
tempfile
lzmaffi
prune_functions
algebraicfield
modules
rocm_template_buffer
__about__
provider
_suppress
utilities
_generator
extern
pdb
b2b_gemm
util
repr
app
von_mises
wrap
findpaths
scipy_doctest
_data_sparstity_utils
pygraphviz
watchdog
symbolic_shapes
fold
lz4
_securetransport
_typeshed
edge_kcomponents
polytools
pstats
_onnx_graph
zipfile
filelock
ops_handler
powsimp
_unix
dispersion
lzma
ctypes
operations
_utils
ctx_mp
powerset
quaternion
markupsafe
optree
ipywidgets
unification_tools
post_localSGD_optimizer
accept
storage
parsing
fieldfunctions
core
_embedding_ops
reports
importlib_resources
shard
cutedsl_op_overrides
_impl
pty
subfield
common_op_utils
overrides
socks
rootoftools
streams
find_first_use_of_broken_modules
numpy_distutils
studentT
user_defined
sage
stubs
graphs
embedding_expanded_weights
textwrap
depth_first_search
interactive
functorch
termios
progress_bar
_datasource
expressiondomain
_aix_support
dis
PyInstaller
_linalg
memmap
memory
partfrac
common
pydoc
itsdangerous
ssltransport
_fsdp_extensions
z3
medium
termui
functools
systems
internal
StringIO
radsimp
dimacs
fake_tensor
historical_tests
getlimits
timeutils
pudb
results
comms_debug
kernel
_spinners
_windows
arrayop
domain
_optim_utils
fx_utils
simplify
_frozen_importlib_external
gevent
_frozen_importlib
cse_main
registry
event
compile_fx
paramiko
setuptools
maxflow
cuda_to_hip_mappings
availability
runpy
expanded_weights_utils
checkpointer
configparser
base
_compat_pickle
autonotebook
lambdify
ns_types
runtime
environment
error_reporting
freezing_patterns
_conv_ops
stat
primetest
_common_operator_config_utils
abstract
win32api
xmlrpc
markup
functional_modules
filesystem
_philox
frame
runtests
fractions
sparse
unit_definitions
random_matrix_models
dircache
libarchive
_funcs
exc
finite_diff
gen_inplace_or_view_type
multiarray
protocol
node
make_fx
traceback
diagonal
partitioners
numberfields
rearrange
partitions_
decorator
dynamic_shapes
code
opinfo
npy_pkg_config
_iotools
specifiers
importlib_metadata
semiconnected
auxfuncs
pager
determinant
convolutions
source
werkzeug
pexpect
_fsdp_api
_in_process
decompositions
monomials
approximants
numeric
autotune_cache
_testbuffer
simd_kernel_features
autocast_mode
definitions
flex_cpu
current_flow_betweenness_subset
containers
builtins
contains
rule
maple
replicate
actuator
_meta
file_structure_representation
antlr4
getpass
constructor
_tree_utils
bindings
tools_common
com
radam
textplot
crackfortran
tree
api
device_interface
graph_region_tracker
mapping
variadic
finitefield
domains
array
dagger
rocm_kernel
pre_grad
preview
cutedsl_kernel
inequalities
power
joint_rv_types
cpp_wrapper_gpu
decomp_utils
_ratio
series
apply_optimizer_in_backward
loss
test_latex
lstm_saliency_pruner
edge_augmentation
torchrec
debug_utils
_error
comptime
usertools
hadamard
_ufunclike_impl
lark
deltafunctions
cached
discord
_private
_string
fake_quantize
itertools
hooks
ccompiler_opt
base_scheduler
abc
_core
named_optimizer
win32pdh
fuse
package_data
specialpolys
socket
_dists
error_handler
pretty_symbology
resolvers
contextlib2
split_cat
_openssl
products
pretty
gen_trace_type
triton_utils
collect_metadata_analysis
tomllib
replace_view_ops_with_view_copy_ops_pass
url_safe
limited_api2
status
bytecode_analysis
_pytorch_graph
conflict
gosper
_convert_np
guards
map
matrixbase
normal
htmlentitydefs
discrete
_types
baseclasses
callbacks
continued_fraction
facts
diffgeom
layer_norm_expanded_weights
rlcompleter
winreg
_manylinux
colorsys
io
sysconfig
_export_format
timeit
flex_decoding
order
multinomial
mps
_functools
decompose_mem_bound_mm
independent
distributed_c10d
android
plistlib
getopt
blinker
arch
libelefun
measure
urllib3
models
reporters
numeric_utils
beamsearch
trace_rules
cutlass_utils
_state_dict_utils
signer
julia
requests_kerberos
cuda_kernel
slice
repmatrix
sparsetools
pip
req_install
_backward
_parser
email
katz
box
cgi
file_based_local_timer
kernel_inputs
kronecker
dotenv
_pick
rref
boykovkolmogorov
runtests_pytest
mkldnn_ir
gmpyrationalfield
embedding_ops
linear_fused
isomorphvf2
shape_propagation
exceptiongroup
point
sgd
half_cauchy
types
compiler
doctest
hf_storage
laplace
compile_fx_ext
screen
generalized_pareto
hypothesis
cryptography
ctx_fp
embed
pwd
hipify
generate
cpp_micro_gemm
segmented_tree
special
_normalizations
cable
_elffile
py34compat
plot
trigsimp
spectral_norm
memory_planning
cfuncs
inertia
actions
file_baton
errno
anticommutator
shortestaugmentingpath
tools
pydot
isal
matpow
scope
src
cpp_wrapper_cpu
_package_unpickler
code_context
adagrad
_winconsole
compat
permutation
bccache
negative_binomial
ssl
_ufunc
table
_digraph
beta
zipimport
sizevars
multi_kernel
schema_type_annotation
adamw
shape_base
conv_relu
unitsystem
_fully_shard
ctx_mp_python
_globals
win32con
initialise
_isocbind
libfb
twisted
server_process_global_profiler
immutable
pylab
array_interface_testing
body
ext
plotting
shutil
_scalars
abstract_nodes
operator_schemas
stoerwagner
cookies
lists
_backward_state
freezing
contrib
plane
exprtools
cutedsl_template
trigonometry
hermite_e
cauchy
_collections
locale
_shape
expanded_weights_impl
binomial
deutils
sac_estimator
ast
dicts
loop_body
torch_function
rings
_abcoll
functional_rprop
mmap
wrapper
biconnected
gomory_hu
options
autograd_cache
chi2
pattern_matcher
subscheck
pythonmpq
lib_interval
quantized_hf_storage
legendre
fishersnedecor
pyglet
expecttest
capacityscaling
pydy
py_compile
thread
aoti_hipify_utils
hints
zlib
sources
domainscalar
fu
slack_sdk
concurrent
evalf
extra_validations
_trace_wrapped_higher_order_op
pooling
pycode
analyze_preserves_zero_mask
adjoint
decompogen
shlex
batchnorm
_cpp_extension_versioner
msvcrt
resharding
_exceptions
found_candidates
quantization_mappings
python_cutlass
_helper
generators
frv_types
drv_types
intfunc
graphviews
base_data_sparsifier
gaussiandomains
keyword
bounds
nested_tensor
betweenness
libhyper
c10d_rendezvous_backend
proxy
weakly_connected
yaml
_functions
win32
argcomplete
ratsimp
add
dispatcher
handlers
sharding_spec
checks
inverse_gamma
_string_helpers
mpl_toolkits
quantizer
type_promotion
saliency_pruner
_remove_effect_tokens_pass
residue_ntheory
Queue
subspaces
mincost
sqrtdenest
cutlass_library
ansitowin32
_pytest
_npyio_impl
quant_type
inspect
relaxed_categorical
gumbel
mappings
expr
_package_pickler
pprint
cuda
iter
urllib
async_compile
lkj_cholesky
limited_api_latest
dill
side_effects
tensor_version_op
_emoji_codes
pygletplot
gmpy2
urllib3_secure_extra
base_sparsifier
_path
cpp_wrapper_cpu_array_ref
device_mesh
package_importer
ordinals
polysys
dl
checkpoint_reader
dyadic
remote_device
autograd_registration
colorama
compile_fx_async
converters
rv_interface
mkldnn_lowerings
loaders
lib
qapply
shape_prop
_activation_checkpointing
relational
pickle5
_traverse
console
cutedsl
schema
rocm_utils
libmpi
c10d_logger
_backend
win32com
eventlet
bn_relu
planner
pymc3
multivariate_normal
gc
nodes
random
optparse
_polybase
tableform
polygon
_osx_support
_pointwise_ops
pickletools
gettext
onnxruntime
interp
mkldnn_fusion
polarization
relation
greenlet
scaffold
heurisch
cutlass_python_evt
observer
req_set
functional_adamw
descriptors
factory
theme
profiler
sqlite3
cuda_combined_scheduling
warnings
_ssl_constants
smbclient
latex
debughelpers
expressions
backends
fused
builtin
basic
matrix_distributions
mem_policy
distribution
etcd_store
subgraph_alg
gen_variable_type
stochastic_process_types
pulp
formal
_flat_param
ecm
_array_api_info
ntlm
graph_signature
harmonic
signals
_deprecation_warning
_user_array_impl
closure
distributed
halide
dispatch
_cell_widths
defmatrix
traverse
_fileno
rationaltools
_dtensor_spec
_distutils_hack
torcharrow
_imp
tkinter
networkx
Numeric
half_normal
inverse
constrain
init
create_parameter_op
__future__
gtk
_math_ops
__pypy__
matrixlib
entity
pt2e
blueprints
graph_deduplication
orthopolys
pycosat
diagram
sparsifier
unary
jscode
qconfig_mapping_utils
_parse
laplacian
polys
higher_order_ops
_itertools
gmpyintegerring
_listener_autolev_antlr
xml
ntpath
diophantine
_compatibility
all
infer_schema
org
sessions
_char_codes
cuda_template
timeout
tags
rewrite
tests
deprecated
branchings
staging
utils
line
sorting
breadth_first_search
einsumfunc
spawn
calendar
sdm
criterion
gmpyfinitefield
numerictypes
ctx_iv
socketserver
anomaly_mode
_prims_common
innerproduct
google
zope
windows
_state
safetensors
_internals
memory_format
package_exporter
companion
functional_utils
_embedding
lowrank_multivariate_normal
asyn
monkeytype
apis
external_utils
weakref
cuda_env
one_hot_categorical
torchgen
urls
latex_parser
terminal_theme
amdsmi
gammazeta
js
live_render
_mt19937
_warnings
setuptools_scm
math
ctx_base
keyring
notebook
_pcg64
libmpc
distutils
gaussopt
_tqdm_pandas
lti
precedence
semi_structured
find_file_dependencies
cache
bisect
_mappings
printer
polynomial
_convertions
pythonfinitefield
objgraph
unicodedata
static_cuda_launcher
chunk_sharding_spec
represent
conv_fused
dotproduct
microbatch
cpuinfo
operator_support
functional_adadelta
interval_arithmetic
current_flow_betweenness
triton
single
attracting
bernoulli
mul
pgo
typing_extensions
qconfig_mapping
template_heuristics
code_generators
spinner
coordinate_descent_tuner
msilib
padding
connected
cpp_template
cutlass
response
symbolic_multivariate_probability
wrappers
status_codes
pwlf
constraint_registry
errors
factortools
pygments
bdb
constants
range
_view_ops
ujson
auth
dropout
custom_ops
cells
libmp
fuser_method_mappings
egyptian_fraction
conv
coverage
str
schedules
tarfile
kerchunk
select
difflib
nonhomogeneous
_code
torchaudio
encodings
FPGM_pruner
snappy
importlib
_meson
tensorflow
conv_expanded_weights
hermite
auto
uniform
deeplearning
dimensions
live
decorators
_nbit_base
triton_compat
degree_seq
base64
gamma
passthrough
fileinput
transformer
profile
_lower_to_native_backend
accumulationbounds
delta
ctx
gen_autograd_functions
percolation
fourier
_asarray
categorical
ftplib
reprlib
variable
select_algorithm
_subclasses
primes
comm_lowering
binary_folding
_util
_fsspec_filesystem
dinitz_alg
highlighter
_dummy_thread
module_tracker
rv
sympy_parser
join
test_graph
opt_einsum
fbscribelogger
group_norm_expanded_weights
misc_patterns
filepost
resources
pkgutil
formatting
flint
ddm
benchmarking
_serialization
csp
function_base
lower_to_fbgemm
funcmatrix
_tokenizer
grad_scaler
native
wait
fake_impl
recurr
backend_registry
kind
rigidbody
lazy
codegen
_unflatten
annotationlib
rcode
_emoji_replace
ipaddress
grad_mode
system_info
group_batch_fusion
limitseq
reductions
prde
structs
symbol
mimetypes
_dist_ver
ansi
_structures
_package
fnmatch
optimizer_overlap
resume_execution
html
blockmatrix
limited_api1
unittest
qnnpack
asgd
dynamic_rendezvous
quantize_handler
hilbert
cpp_builder
crv_types
cache_control
state_dict_saver
panel
jointsmethod
xmlrunner
voterank_alg
py3k
interval_membership
_fsdp_collectives
cartan_type
argparsing
py38compat
linear_relu
intranges
_ssl
autotune_process
ode
queue
color
dataset
control
_directory_reader
transforms
charset_normalizer
_catch
truss
mm_common
onnxscript
mod
sets
singularityfunctions
zipp
middleware
writer
_triton_ops_meta
apport_python_hook
triton_bundler
linecache
tomli
quantities
riccati
distro
repro
config
array_comprehension
chebyshev
pyarrow
_ufuncs
faulthandler
multipledispatch
misc_util
plot_object
string
predicates
epathtools
_symbolic_trace
matadd
generate_tests
linear_expanded_weights
statistics
connection
pysat
wcwidth
pytorch_lightning
netrc
rfe
classic
debug
rmsprop
bit_generator
particle
PIL
lll
_proto_graph
scipy
inference
requests
_reloader
terminalwriter
runtime_wrappers
_loop
holonomic
wave
scheduler
arrayprint
quantize_jit
marshal
syntax
fractionfield
graph_utils
_timer
_ndarray
kumaraswamy
psutil
_reqs
aot_autograd
realfield
_importlib
_fsdp_param
_unlift
linearize
ntheory
_thread
disjoint_paths
_callers
glob
capi_maps
cache_size
index_methods
heapq
_macos
ddp_fusion
helion
exported_program
visualization
templating
async_utils
transaction
_monitor
eval_frame
poisson
fallback
emoji
_expired_attrs_2_0
sequences
simplex
summations
torchvision
polyfuncs
fuse_attention
matcher
builder
ellipse
_IR
fsdp2_mem_tracker
standalone_compile
_sfc64
fully_sharded_data_parallel
segment
_dtypes
solvers
contextvars
residues
matcher_utils
py
ssl_
identification
structures
singularities
plot_interval
rl
columns
_soft
binary
uts46data
graph_capture
load_derivatives
multigraph
usympy
weight_norm
_dtype
mpmath
eigen
operator
pyinstrument
gemm
_mangling
redis
convert
hyperexpand
_termui_impl
adadelta
functional_sgd
dynamo_test_failures
exceptions
rocm
copyreg
fastparquet
strongly_connected
_log_render
tensorproduct
polyerrors
threading
_matrix_ops
_api
degree_alg
remote_cache
grp
limits
functional_adamax
galoisgroups
mutation_guard
_pocketfft
hmac
laguerre
cuts
triton_split_scan
pluggy
sphinx
pkg_resources
winterm
theano
dummy_threading
palette
cudagraph_trees
basis
importer
backend
_fsdp_common
connectivity
pycute
custom_graph_pass
mathematica
complexfield
licenses
xmlrpclib
trophic
tokenize
lexer
_ufunc_config
records
jnius
telegram
_decomposed
more
closeness
candidates
smbprotocol
_toml_compat
__main__
configs
align
_memory_viz
joint_graph
fuse_handler
normalization
pandas
meijerint
_nested_sequence
gen_variable_factories
formparser
callback
_pypy_irc_topic
StringIO
IPython
Numeric
OpenSSL
HTMLParser
studentT
PyInstaller
PIL
_IR
Cython
ConfigParser
FPGM_pruner
cProfile
Queue
post_localSGD_optimizer
StringIO
IPython
Numeric
OpenSSL
HTMLParser
studentT
PyInstaller
PIL
_IR
Cython
ConfigParser
FPGM_pruner
cProfile
Queue
post_localSGD_optimizer
StringIO
IPython
Numeric
OpenSSL
HTMLParser
studentT
PyInstaller
PIL
_IR
Cython
ConfigParser
FPGM_pruner
cProfile
Queue
post_localSGD_optimizer
StringIO
IPython
Numeric
OpenSSL
HTMLParser
studentT
PyInstaller
PIL
_IR
Cython
ConfigParser
FPGM_pruner
cProfile
Queue
post_localSGD_optimizer
