Flask>=2.2
numpy>=1.24
Pillow>=9.5
# For runtime TFLite, install one of the following manually based on your platform:
# tflite-runtime>=2.12  (recommended on edge devices)
# or tensorflow>=2.12   (heavier, but includes tf.lite.Interpreter)

imp
map
click
csv
htmlentitydefs
_types
ConfigParser
_result
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
_export_format
timeit
_nbit
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
models
reporters
_winreg
signer
pip
req_install
_parser
email
_version
markers
pytest
box
cgi
_internal
dotenv
_arrayterator_impl
_pick
tbtools
_formatting
_array_utils_impl
_dtype_like
exceptiongroup
_stride_tricks_impl
types
compiler
doctest
screen
hypothesis
cryptography
pwd
embed
printoptions
fixtures
PcxImagePlugin
serving
py34compat
_elffile
cfuncs
_imagingft
actions
errno
serializer
scope
numarray
_winconsole
_palettes
OpenSSL
compat
__builtin__
collections
bccache
ssl
_ufunc
table
_macos_compat
curses
globals
zipimport
shape_base
_internal_utils
_globals
gzip
initialise
signal
_isocbind
win32con
twisted
fromnumeric
array_interface_testing
ext
color_triplet
shutil
ox_profile
_scalars
cookies
_envs
contrib
visitor
mypy
hermite_e
_textwrap
uuid
_collections
locale
_shape
ast
adapters
_abcoll
mmap
_utilities
posixpath
_identifier
legendre
file_storage
cffi
headers
expression
cProfile
struct
tracemalloc
py_compile
_manager
docutils
region
urlparse
thread
zlib
sources
JpegPresets
numbers
retry
concurrent
extra_validations
warning_types
shlex
java
_type_aliases
msvcrt
PySide6
_implementation
requirements
_exceptions
found_candidates
_collections_abc
_native
_helper
Cython
packaging
hashlib
keyword
pyparsing
attr
yaml
win32
argcomplete
_ctypes
checks
user_agent
_string_helpers
Queue
_pytest
ansitowin32
_npyio_impl
inspect
cli
unicode
timed
token
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
shell_completion
limited_api_latest
_emoji_codes
tty
_path
urllib3_secure_extra
_socket
jinja2
iniconfig
tflite_runtime
dl
bz2
colorama
_common
pickle
edge_infer
JpegImagePlugin
converters
sansio
mock
copy
loaders
lib
pickle5
console
resource
contextlib
_backend
win32com
eventlet
upload
version
gc
nodes
random
optparse
_polybase
compileall
_osx_support
gettext
greenlet
scaffold
req_set
factory
theme
fastjsonschema_validations
sqlite3
warnings
_ssl_constants
secrets
test
debughelpers
_scimath_impl
_re
mem_policy
_text
_array_api_info
recipes
ntlm
signals
defaults
railroad
_deprecation_warning
_user_array_impl
_deprecate
_cell_widths
defmatrix
__version__
_fileno
_hooks
_distutils_hack
_imp
tkinter
poolmanager
argparse
Numeric
platform
constrain
text
__future__
__pypy__
matrixlib
blueprints
_structseq
_json
rules
pytz
diagram
helpers
_parse
extras
numba
_itertools
xml
webbrowser
ntpath
cython
sessions
_char_codes
org
timeout
tags
tests
sandbox
deprecated
readline
_legacy
utils
req_file
einsumfunc
_multiarray_umath
calendar
http
criterion
numerictypes
dummy_thread
parse
_extension
socketserver
atexit
google
zope
multiprocessing
TiffImagePlugin
weakref
HTMLParser
urls
terminal_theme
py36compat
live_render
_mt19937
_warnings
asgiref
math
keyring
_pcg64
_machar
distutils
bisect
style
polynomial
trove_classifiers
_convertions
subprocess
codecs
etag
unicodedata
binascii
defusedxml
_distutils
mixins
mtrand
providers
cpuinfo
site
security
umath
typing_extensions
_apply_pyprojecttoml
code_generators
spinner
connectionpool
datastructures
msilib
padding
response
wrappers
status_codes
PyQt6
features
errors
httplib
pygments
bdb
constants
range
_speedups
auth
urllib2
encoding
cells
coverage
wsgi
threadpoolctl
tarfile
selectors
default_styles
select
difflib
_code
parser
encodings
request
importlib
_meson
hermite
monkey
tensorflow
packages
file_proxy
live
decorators
_nbit_base
fields
base64
cmath
_array_like
jupyter
fileinput
profile
ctx
testing
filters
_wrap
_asarray
url
tempfile
reprlib
__about__
provider
_suppress
_util
_generator
highlighter
_dummy_thread
extern
pdb
olefile
util
repr
app
findpaths
scipy_doctest
filepost
resources
pkgutil
formatting
watchdog
csp
function_base
_securetransport
_tokenizer
_typeshed
pstats
zipfile
filelock
wait
annotationlib
_emoji_replace
lzma
ipaddress
ctypes
system_info
_utils
markupsafe
structs
mimetypes
ipywidgets
accept
ansi
_structures
core
fnmatch
reports
_impl
html
limited_api1
unittest
overrides
pty
socks
numpy_distutils
textwrap
cache_control
termios
py3k
panel
progress_bar
_datasource
argparsing
py38compat
_aix_support
dis
PyInstaller
_linalg
memmap
intranges
common
pydoc
_ssl
itsdangerous
ssltransport
queue
color
termui
functools
control
charset_normalizer
_catch
StringIO
zipp
middleware
getlimits
pudb
results
apport_python_hook
_spinners
linecache
tomli
_windows
distro
config
chebyshev
faulthandler
string
misc_util
_frozen_importlib_external
gevent
_frozen_importlib
connection
wcwidth
netrc
debug
setuptools
prepost
bit_generator
PIL
runpy
configparser
base
_reloader
terminalwriter
environment
runtime
error_reporting
stat
_loop
arrayprint
abstract
marshal
syntax
xmlrpc
markup
win32api
_timer
_philox
fractions
psutil
_reqs
exc
multiarray
_importlib
protocol
MpoImagePlugin
traceback
_thread
_callers
glob
capi_maps
heapq
_macos
code
npy_pkg_config
importlib_metadata
_iotools
specifiers
templating
async_utils
auxfuncs
pager
source
werkzeug
fallback
pexpect
emoji
_expired_attrs_2_0
_in_process
numeric
_testbuffer
TiffTags
matcher
containers
builtins
rule
_meta
getpass
_sfc64
segment
bindings
com
contextvars
crackfortran
ssl_
py
api
structures
array
columns
uts46data
_ratio
_dtype
operator
_termui_impl
redis
exceptions
copyreg
_log_render
threading
_binary
_imaging
_ufunclike_impl
_api
grp
_pocketfft
hmac
laguerre
_private
_string
pluggy
sphinx
itertools
ccompiler_opt
winterm
hooks
pkg_resources
abc
dummy_threading
_core
palette
win32pdh
package_data
socket
_dists
licenses
tokenize
xmlrpclib
lexer
_ufunc_config
records
contextlib2
jnius
resolvers
more
candidates
_typing
_toml_compat
align
__main__
_openssl
pretty
tomllib
url_safe
limited_api2
status
_nested_sequence
formparser
decimal
_pypy_irc_topic
StringIO
TiffTags
OpenSSL
HTMLParser
JpegImagePlugin
ConfigParser
cProfile
PyQt6
MpoImagePlugin
PcxImagePlugin
JpegPresets
Queue
IPython
Numeric
PyInstaller
PySide6
PIL
Cython
TiffImagePlugin
StringIO
TiffTags
OpenSSL
HTMLParser
JpegImagePlugin
ConfigParser
cProfile
PyQt6
MpoImagePlugin
PcxImagePlugin
JpegPresets
Queue
IPython
Numeric
PyInstaller
PySide6
PIL
Cython
TiffImagePlugin
StringIO
TiffTags
OpenSSL
HTMLParser
JpegImagePlugin
ConfigParser
cProfile
PyQt6
MpoImagePlugin
PcxImagePlugin
JpegPresets
Queue
IPython
Numeric
PyInstaller
PySide6
PIL
Cython
TiffImagePlugin
StringIO
TiffTags
OpenSSL
HTMLParser
JpegImagePlugin
ConfigParser
cProfile
PyQt6
MpoImagePlugin
PcxImagePlugin
JpegPresets
Queue
IPython
Numeric
PyInstaller
PySide6
PIL
Cython
TiffImagePlugin
