# Runtime dependencies for the Flask application
# Pinning versions helps ensure reproducible environments. Adjust as needed.
Flask==3.0.3
python-dotenv==1.0.1

imp
map
click
csv
htmlentitydefs
_types
ConfigParser
_result
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
_export_format
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
models
reporters
_winreg
signer
pip
req_install
_parser
email
_version
markers
pytest
box
cgi
_internal
dotenv
_pick
tbtools
_formatting
exceptiongroup
types
compiler
doctest
screen
cryptography
pwd
embed
fixtures
serving
py34compat
_elffile
actions
errno
serializer
scope
_winconsole
_palettes
OpenSSL
compat
__builtin__
collections
bccache
ssl
table
_macos_compat
globals
zipimport
_internal_utils
win32con
initialise
signal
twisted
ext
color_triplet
shutil
ox_profile
cookies
_envs
contrib
visitor
_textwrap
uuid
_collections
locale
ast
adapters
_abcoll
mmap
_utilities
posixpath
_identifier
file_storage
headers
expression
cProfile
struct
tracemalloc
py_compile
_manager
docutils
region
urlparse
thread
zlib
sources
numbers
retry
concurrent
ipython
extra_validations
warning_types
shlex
java
msvcrt
_implementation
requirements
_exceptions
found_candidates
_collections_abc
_native
Cython
packaging
hashlib
keyword
pyparsing
attr
win32
argcomplete
user_agent
Queue
_pytest
ansitowin32
inspect
cli
unicode
timed
token
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
shell_completion
_emoji_codes
tty
_path
urllib3_secure_extra
_socket
jinja2
iniconfig
dl
bz2
colorama
_common
pickle
converters
sansio
mock
copy
loaders
console
contextlib
win32com
eventlet
upload
version
gc
nodes
random
optparse
compileall
_osx_support
gettext
greenlet
scaffold
req_set
factory
theme
fastjsonschema_validations
sqlite3
warnings
_ssl_constants
secrets
test
debughelpers
_re
_text
recipes
ntlm
signals
defaults
railroad
_deprecation_warning
numpy
_cell_widths
__version__
_fileno
_hooks
_distutils_hack
_imp
poolmanager
argparse
platform
constrain
text
__future__
__pypy__
blueprints
_structseq
_json
rules
diagram
helpers
_parse
_itertools
xml
webbrowser
ntpath
org
sessions
timeout
tags
tests
sandbox
deprecated
readline
_legacy
utils
req_file
calendar
http
criterion
dummy_thread
socketserver
_extension
routes
atexit
google
zope
multiprocessing
weakref
HTMLParser
urls
terminal_theme
py36compat
live_render
_warnings
asgiref
math
keyring
distutils
bisect
style
trove_classifiers
subprocess
codecs
etag
unicodedata
binascii
mixins
providers
site
security
typing_extensions
variables
_apply_pyprojecttoml
spinner
connectionpool
datastructures
msilib
padding
response
wrappers
status_codes
errors
httplib
pygments
bdb
constants
range
_speedups
auth
urllib2
encoding
cells
coverage
wsgi
tarfile
selectors
default_styles
select
difflib
_code
encodings
parser
request
importlib
monkey
packages
file_proxy
live
decorators
fields
base64
jupyter
profile
ctx
testing
filters
_wrap
url
tempfile
reprlib
__about__
provider
_suppress
highlighter
extern
pdb
util
repr
app
findpaths
filepost
resources
pkgutil
formatting
watchdog
csp
_securetransport
_tokenizer
_typeshed
pstats
zipfile
filelock
wait
annotationlib
_emoji_replace
ipaddress
lzma
ctypes
_utils
markupsafe
structs
mimetypes
ipywidgets
accept
_structures
ansi
core
fnmatch
reports
_impl
html
unittest
pty
socks
textwrap
cache_control
termios
panel
progress_bar
argparsing
py38compat
_aix_support
dis
intranges
common
pydoc
_ssl
itsdangerous
ssltransport
queue
color
termui
functools
control
StringIO
_catch
zipp
middleware
pudb
results
apport_python_hook
_spinners
linecache
tomli
_windows
distro
config
faulthandler
string
_frozen_importlib_external
gevent
_frozen_importlib
connection
wcwidth
netrc
debug
setuptools
runpy
configparser
base
_reloader
terminalwriter
environment
runtime
error_reporting
stat
_loop
abstract
marshal
syntax
xmlrpc
markup
win32api
_timer
fractions
_reqs
exc
_importlib
protocol
traceback
_thread
_callers
glob
heapq
_macos
code
importlib_metadata
specifiers
templating
async_utils
pager
source
werkzeug
main
fallback
emoji
pexpect
_in_process
matcher
containers
builtins
rule
_meta
getpass
segment
bindings
com
contextvars
ssl_
py
api
structures
array
columns
uts46data
_ratio
operator
_termui_impl
redis
exceptions
_log_render
threading
_api
grp
hmac
_string
pluggy
sphinx
itertools
hooks
winterm
pkg_resources
abc
dummy_threading
palette
package_data
socket
_dists
licenses
tokenize
xmlrpclib
lexer
jnius
contextlib2
resolvers
more
candidates
_toml_compat
align
__main__
_openssl
pretty
tomllib
url_safe
status
formparser
decimal
_pypy_irc_topic
StringIO
IPython
OpenSSL
HTMLParser
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
OpenSSL
HTMLParser
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
OpenSSL
HTMLParser
Cython
ConfigParser
cProfile
Queue
StringIO
IPython
OpenSSL
HTMLParser
Cython
ConfigParser
cProfile
Queue
