Flask>=3.0.0
Flask-Cors>=4.0.0
feedparser>=6.0.11
pytrends>=4.9.2
vaderSentiment>=3.3.2
pandas>=2.2.0
requests>=2.31.0
gunicorn>=21.2.0

imp
map
fsspec
click
htmlentitydefs
csv
_types
ConfigParser
_result
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
vaderSentiment
_export_format
timeit
win
_nbit
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
urllib3
models
reporters
tornado
_winreg
signer
pip
req_install
korean
_parser
email
_version
markers
pytest
box
cgi
_internal
dotenv
_arrayterator_impl
_pick
tbtools
mixin
_formatting
_array_utils_impl
_dtype_like
exceptiongroup
_stride_tricks_impl
types
hungarian
compiler
doctest
screen
hypothesis
cryptography
pwd
embed
printoptions
fixtures
serving
py34compat
_elffile
cfuncs
actions
errno
serializer
scope
numarray
_winconsole
_palettes
OpenSSL
compat
__builtin__
collections
bccache
ssl
_ufunc
table
_macos_compat
curses
globals
zipimport
shape_base
_internal_utils
fetch
_globals
gzip
initialise
signal
diff
_isocbind
win32con
twisted
fromnumeric
ext
color_triplet
shutil
ox_profile
_scalars
xlsxwriter
cookies
_envs
contrib
visitor
mypy
services
hermite_e
xlrd
_textwrap
uuid
_collections
_base_connection
locale
_shape
ast
adapters
_abcoll
mmap
_utilities
posixpath
_identifier
legendre
file_storage
cffi
headers
tables
expression
cProfile
struct
tracemalloc
py_compile
_manager
docutils
region
urlparse
thread
openpyxl
zlib
sources
numbers
retry
concurrent
extra_validations
warning_types
shlex
java
_type_aliases
msvcrt
_implementation
requirements
_exceptions
found_candidates
_collections_abc
iso8601
_native
_helper
Cython
packaging
hashlib
keyword
sgml
pyparsing
attr
yaml
brotlicffi
win32
argcomplete
_ctypes
AppKit
boto3
user_agent
_string_helpers
Queue
python_calamine
_multibytecodec
_pytest
ansitowin32
_npyio_impl
inspect
cli
unicode
timed
token
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
shell_completion
_emoji_codes
tty
_path
html5lib
_socket
soupparser
urllib3_secure_extra
six
jinja2
traitlets
iniconfig
dl
bz2
colorama
_common
pickle
converters
sansio
legacy
mock
copy
loaders
lib
pickle5
console
contextlib
asctime
_backend
win32com
eventlet
upload
version
gc
nodes
random
optparse
_polybase
sanitizer
compileall
_osx_support
gettext
pickletools
lxml
datetimes
greenlet
scaffold
req_set
constant
factory
theme
fastjsonschema_validations
sqlite3
warnings
_ssl_constants
pyodide
secrets
test
debughelpers
_scimath_impl
Foundation
_re
_markupbase
_text
_array_api_info
recipes
ntlm
signals
defaults
railroad
_deprecation_warning
_user_array_impl
numpy
_cell_widths
defmatrix
__version__
_fileno
_hooks
_distutils_hack
sqlalchemy
greek
parsers
_imp
poolmanager
argparse
Numeric
platform
constrain
text
__future__
__pypy__
matrixlib
blueprints
_structseq
_json
rules
pytz
diagram
helpers
_parse
extras
numba
_itertools
xml
webbrowser
ntpath
cython
sessions
_char_codes
org
timeout
fcntl
tags
tests
sandbox
deprecated
readline
_legacy
w3dtf
utils
req_file
einsumfunc
_multiarray_umath
calendar
http
criterion
matplotlib
numerictypes
dummy_thread
parse
_extension
cd
socketserver
zstandard
atexit
google
zope
multiprocessing
weakref
HTMLParser
urls
terminal_theme
py36compat
js
live_render
_mt19937
_warnings
asgiref
math
http2
keyring
_pcg64
_machar
distutils
lxml_html_clean
bisect
qtpy
style
polynomial
trove_classifiers
_convertions
subprocess
codecs
etag
unicodedata
binascii
bs4
_distutils
mixins
mtrand
providers
cpuinfo
site
security
umath
pasterapp
typing_extensions
_apply_pyprojecttoml
code_generators
spinner
connectionpool
datastructures
msilib
padding
response
botocore
wrappers
status_codes
_setmixin
errors
httplib
pygments
bdb
constants
range
_speedups
auth
urllib2
encoding
cells
compression
coverage
wsgi
tarfile
selectors
threadpoolctl
default_styles
select
difflib
_code
encodings
parser
request
importlib
_meson
hermite
monkey
packages
h2
file_proxy
live
decorators
_nbit_base
fields
base64
_array_like
jupyter
fileinput
profile
ctx
testing
filters
pyxlsb
_wrap
_asarray
url
tempfile
reprlib
__about__
provider
_suppress
_generator
highlighter
_dummy_thread
extern
pdb
util
repr
app
findpaths
scipy_doctest
filepost
resources
pkgutil
formatting
watchdog
csp
function_base
_securetransport
_tokenizer
_typeshed
pstats
zipfile
extension
filelock
wait
annotationlib
_emoji_replace
ipaddress
lzma
ctypes
system_info
_utils
markupsafe
structs
mimetypes
ipywidgets
flask_cors
accept
ansi
_structures
core
fnmatch
reports
_impl
html
unittest
overrides
pty
socks
numpy_distutils
certifi
textwrap
cache_control
termios
py3k
panel
progress_bar
_datasource
PyQt4
argparsing
py38compat
_aix_support
dis
PyInstaller
_linalg
memmap
intranges
common
pydoc
_ssl
itsdangerous
ssltransport
queue
color
termui
functools
control
StringIO
charset_normalizer
_catch
sets
zipp
middleware
getlimits
numexpr
pudb
results
apport_python_hook
_spinners
linecache
tomli
_windows
distro
cssselect
config
chebyshev
pyarrow
faulthandler
string
misc_util
_frozen_importlib_external
gevent
statistics
_frozen_importlib
connection
wcwidth
dateutil
netrc
debug
setuptools
nltk
bit_generator
runpy
scipy
configparser
base
_reloader
terminalwriter
environment
runtime
error_reporting
stat
_loop
md
arrayprint
cchardet
abstract
_request_methods
marshal
syntax
xmlrpc
markup
win32api
_timer
_philox
fractions
psutil
_reqs
brotli
exc
multiarray
_importlib
protocol
traceback
_thread
_callers
glob
capi_maps
chardet
heapq
_macos
decorator
code
npy_pkg_config
importlib_metadata
_iotools
specifiers
templating
async_utils
auxfuncs
sgmllib
pager
source
werkzeug
fallback
pexpect
emoji
_expired_attrs_2_0
_in_process
numeric
matcher
containers
odf
builtins
BeautifulSoup
rule
idna
inotify
_meta
getpass
_sfc64
segment
bindings
com
rfc822
contextvars
crackfortran
ssl_
py
api
structures
tz
array
columns
uts46data
_ratio
_dtype
namespaces
operator
_termui_impl
redis
exceptions
copyreg
_log_render
threading
_ufunclike_impl
_api
grp
_pocketfft
hmac
laguerre
_private
_string
pluggy
sphinx
itertools
hooks
winterm
pkg_resources
abc
dummy_threading
_factories
isoparser
setproctitle
_core
win32pdh
palette
paste
package_data
socket
_dists
licenses
tokenize
xmlrpclib
simplejson
lexer
_ufunc_config
records
contextlib2
jnius
resolvers
more
candidates
UserDict
_toml_compat
align
__main__
_openssl
pretty
zoneinfo
perforce
tomllib
url_safe
status
_nested_sequence
PyQt5
formparser
decimal
_pypy_irc_topic
StringIO
IPython
vaderSentiment
OpenSSL
HTMLParser
AppKit
Numeric
PyInstaller
Foundation
PyQt4
BeautifulSoup
UserDict
Cython
ConfigParser
cProfile
Queue
PyQt5
StringIO
IPython
vaderSentiment
OpenSSL
HTMLParser
AppKit
Numeric
PyInstaller
Foundation
PyQt4
BeautifulSoup
UserDict
Cython
ConfigParser
cProfile
Queue
PyQt5
StringIO
IPython
vaderSentiment
OpenSSL
HTMLParser
AppKit
Numeric
PyInstaller
Foundation
PyQt4
BeautifulSoup
UserDict
Cython
ConfigParser
cProfile
Queue
PyQt5
StringIO
IPython
vaderSentiment
OpenSSL
HTMLParser
AppKit
Numeric
PyInstaller
Foundation
PyQt4
BeautifulSoup
UserDict
Cython
ConfigParser
cProfile
Queue
PyQt5
mpl_toolkits
checks
_testbuffer
pylab
cycler
limited_api_latest
s3fs
limited_api2
xarray
array_interface_testing
adbc_driver_sqlite
_csv
sklearn
limited_api1
ccompiler_opt
mem_policy
adbc_driver_postgresql
fastparquet
adbc_driver_manager
dask
