version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: oci-flask-app:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${APP_PORT:-80}:8000"
    networks:
      - appnet
networks:
  appnet:

