Flask>=2.2,<3.0
flasgger>=0.9.7
PyYAML>=6.0.1

# Docs generation and publishing
mkdocs>=1.5
mkdocs-material>=9.5
mkdocs-swagger-ui-tag>=0.6.7

imp
map
click
csv
htmlentitydefs
_types
ConfigParser
_result
rlcompleter
list_parser
winreg
io
_manylinux
colorsys
sysconfig
_export_format
win
_functools
android
idtracking
plistlib
getopt
_compat
blinker
styled
IPython
_cmsgpack
measure
urllib3
models
reporters
_winreg
signer
pip
req_install
_parser
email
_version
markers
box
pytest
cgi
_internal
dotenv
_pick
tbtools
_formatting
decompositiontype
exceptiongroup
types
compiler
doctest
screen
hypothesis
cryptography
pwd
embed
fixtures
serving
py34compat
_elffile
_bre_parse
generalcategory
actions
errno
serializer
scope
renderers
atheris
image
_winconsole
_palettes
OpenSSL
compat
wordbreak
__builtin__
collections
bccache
ssl
table
_macos_compat
globals
zipimport
marshmallow
_internal_utils
codehilite
rfc3339_validator
cairosvg
fetch
eastasianwidth
initialise
signal
gzip
win32con
twisted
ext
color_triplet
shutil
admonition
ox_profile
cookies
_envs
contrib
visitor
_textwrap
uuid
_collections
_base_connection
locale
ast
adapters
canonicalcombiningclass
_abcoll
mmap
_utilities
options
posixpath
_version_info
attrs
_identifier
file_storage
headers
expression
cProfile
alias
struct
tracemalloc
py_compile
_manager
docutils
region
representer
indicsyllabiccategory
urlparse
thread
zlib
sources
numbers
retry
concurrent
extra_validations
warning_types
shlex
java
bidiclass
msvcrt
_implementation
joininggroup
_exceptions
ghp_import
found_candidates
requirements
_collections_abc
_native
Cython
superfences
packaging
hashlib
keyword
inline_parser
readtime
hangulsyllabletype
pyparsing
attr
yaml
brotlicffi
win32
argcomplete
gitignore
AppKit
regex
user_agent
Queue
_multibytecodec
_pytest
ansitowin32
inspect
cli
unicode
timed
token
fastjsonschema_exceptions
pprint
resolution
optimizer
urllib
rpds
wsgiref
shell_completion
_emoji_codes
tty
_path
html5lib
_socket
urllib3_secure_extra
six
jinja2
error
iniconfig
dl
gitwildmatch
bz2
colorama
_common
pickle
converters
sansio
legacy
mock
copy
loaders
console
contextlib
win32com
eventlet
upload
FSEvents
version
gc
nodes
random
optparse
compileall
_osx_support
gettext
lxml
formatter
greenlet
scaffold
include
req_set
constant
cyaml
factory
theme
emitter
fastjsonschema_validations
sqlite3
warnings
_ssl_constants
pyodide
secrets
test
debughelpers
_re
dumper
_text
postprocessors
blockprocessors
serializers
numericvalue
recipes
ntlm
signals
defaults
railroad
_deprecation_warning
numpy
_cell_widths
__version__
_fileno
_hooks
_distutils_hack
_imp
poolmanager
argparse
filter
platform
constrain
text
__future__
__pypy__
block_parser
blueprints
_structseq
_json
rules
pytz
bidipairedbrackettype
diagram
helpers
_parse
_deprecation
jsonpointer
blocks
_itertools
xml
webbrowser
ntpath
org
sessions
timeout
tags
tests
sandbox
deprecated
readline
_legacy
utils
req_file
rfc3987_syntax
markdown
calendar
http
criterion
blockparser
dummy_thread
socketserver
_extension
cd
zstandard
templates
attr_list
atexit
google
zope
soupsieve
multiprocessing
weakref
HTMLParser
webcolors
urls
isoduration
terminal_theme
py36compat
js
live_render
_warnings
asgiref
_list
math
http2
keyring
sentencebreak
_make
distutils
_config
bisect
style
trove_classifiers
verticalorientation
subprocess
codecs
etag
unicodedata
binascii
bs4
mixins
__meta__
providers
site
security
typing_extensions
toc
_apply_pyprojecttoml
joiningtype
spinner
connectionpool
datastructures
pymdownx
padding
msilib
response
wrappers
status_codes
errors
mistune
httplib
pygments
bdb
constants
range
_speedups
mkdocs_get_deps
auth
urllib2
encoding
cells
compression
coverage
wsgi
quickcheck
tarfile
selectors
default_styles
select
difflib
_code
sre_parse
encodings
parser
request
importlib
monkey
author
scriptextensions
packages
h2
file_proxy
live
decorators
fields
base64
jupyter
profile
block
ctx
testing
filters
_wrap
url
tempfile
preprocessors
reprlib
__about__
provider
_next_gen
_suppress
highlighter
htmlparser
extern
pdb
dammit
util
repr
app
findpaths
extensions
filepost
graphemeclusterbreak
pkgutil
age
formatting
watchdog
platformdirs
resources
csp
material
_securetransport
_tokenizer
_typeshed
pstats
zipfile
_fenced
filelock
wait
mergedeep
annotationlib
_emoji_replace
ipaddress
lzma
ctypes
fqdn
_utils
markupsafe
structs
mimetypes
ipywidgets
treeprocessors
accept
ansi
_structures
core
fnmatch
reports
importlib_resources
_impl
html
_bregex_parse
unittest
pty
socks
certifi
lunr
textwrap
cache_control
termios
panel
plugins
progress_bar
argparsing
py38compat
_aix_support
dis
_base
intranges
common
paginate
_ssl
pydoc
itsdangerous
ssltransport
queue
_bregex_typing
termui
functools
color
rfc3986_validator
control
composer
StringIO
charset_normalizer
_catch
yaml_env_tag
flask_restful
zipp
middleware
reader
_rst
rfc3987
pudb
results
apport_python_hook
ctags
_spinners
linecache
tomli
uri_template
resolver
marshmallow_apispec
_windows
distro
config
numerictype
apispec
faulthandler
string
_frozen_importlib_external
gevent
indicpositionalcategory
_frozen_importlib
connection
wcwidth
dateutil
jieba
jsonschema
netrc
events
setuptools
debug
PIL
runpy
requests
pathspec
configparser
base
css
_reloader
terminalwriter
environment
runtime
error_reporting
stat
_loop
md
_request_methods
cchardet
abstract
marshal
syntax
script
xmlrpc
markup
win32api
_timer
pyperf
_funcs
fractions
brotli
_reqs
exc
_importlib
protocol
element
traceback
_thread
_callers
glob
chardet
heapq
_macos
babel
code
importlib_metadata
specifiers
templating
async_utils
pager
source
werkzeug
fallback
pexpect
emoji
_in_process
_cmp
structure
matcher
builder
containers
builtins
idna
rule
_meta
getpass
constructor
segment
bindings
com
renderer
contextvars
linebreak
tree
ssl_
api
py
inlinepatterns
loader
structures
_watchdog_fsevents
pipes
tz
array
columns
binary
uts46data
_ratio
tokens
operator
scanner
flask_mongorest
_termui_impl
redis
exceptions
copyreg
_log_render
threading
_api
grp
referencing
hmac
_string
pluggy
pkg_resources
itertools
patterns
winterm
sphinx
hooks
abc
backrefs
_factories
isoparser
dummy_threading
palette
pattern
package_data
socket
_dists
licenses
tokenize
simplejson
xmlrpclib
lexer
jnius
contextlib2
resolvers
more
candidates
jsonschema_specifications
_toml_compat
__main__
align
_openssl
pretty
zoneinfo
tomllib
url_safe
status
formparser
decimal
_pypy_irc_topic
StringIO
IPython
OpenSSL
HTMLParser
AppKit
PIL
Cython
ConfigParser
cProfile
Queue
FSEvents
StringIO
IPython
OpenSSL
HTMLParser
AppKit
PIL
Cython
ConfigParser
cProfile
Queue
FSEvents
StringIO
IPython
OpenSSL
HTMLParser
AppKit
PIL
Cython
ConfigParser
cProfile
Queue
FSEvents
StringIO
IPython
OpenSSL
HTMLParser
AppKit
PIL
Cython
ConfigParser
cProfile
Queue
FSEvents
jsonpath_ng
tidylib
