Flask>=2.3,<3.0
celery[redis]>=5.3,<6.0
redis>=5.0,<6.0
rq>=1.15,<2.0
rq-scheduler>=0.13,<1.0
flower>=1.2,<2.0
gunicorn>=21,<22
python-dotenv>=1.0,<2.0

imp
map
click
csv
htmlentitydefs
_types
ConfigParser
_result
eventloop
rlcompleter
winreg
io
_manylinux
colorsys
sysconfig
flush_stdout
_export_format
suspension
timeit
funtools
pool
win
dummy
_functools
android
idtracking
spec
plistlib
_compat
blinker
styled
IPython
getopt
_cmsgpack
measure
dbm
urllib3
models
reporters
tornado
metrics_core
pydantic
_winreg
signer
aggregation
pip
req_install
_parser
_parsers
email
_version
markers
pytest
box
cgi
gc_collector
synchronization
_internal
dotenv
_pick
tbtools
timeouts
application
_formatting
named_colors
exceptiongroup
types
compiler
doctest
state
screen
cryptography
pwd
embed
shortcuts
fixtures
simple
validation
serving
ansi_escape_sequences
py34compat
_elffile
actions
errno
urllib3_client
serializer
scope
gssapi
msgpack
backoff
_winconsole
_palettes
click_repl
OpenSSL
compat
__builtin__
collections
bccache
ssl
dependency
table
_macos_compat
curses
asgi
globals
zipimport
_internal_utils
buffer
functional
hub
signal
initialise
win32con
gzip
twisted
info
ext
color_triplet
shutil
ox_profile
selection
_multiprocessing
cookies
pydocumentdb
_envs
imports
contrib
visitor
memcache
_textwrap
uuid
_collections
locale
posix_utils
ast
adapters
_abcoll
mmap
asynpool
_utilities
options
posixpath
margins
_identifier
run_in_terminal
hiredis
basic_message
file_storage
cffi
headers
qpid
expression
cProfile
formatters
struct
tracemalloc
py_compile
_manager
docutils
region
urlparse
thread
zlib
sources
formatted_text
commands
numbers
message
retry
concurrent
completion
ipython
extra_validations
warning_types
prompt_toolkit
shlex
maya
java
_async
clipboard
graph
msvcrt
_implementation
requirements
_exceptions
found_candidates
_collections_abc
bson
job
exchange
_native
Cython
word_completer
forkserver
packaging
hashlib
decoders
system
keyword
cached_property
_billiard
local
pyparsing
attr
processors
yaml
regex_parser
win32
argcomplete
context
pycares
dispatcher
metrics
boto3
user_agent
keys
softlayer_messaging
Queue
_pytest
ansitowin32
inspect
cli
unicode
timed
token
pymysql
fastjsonschema_exceptions
pprint
resolution
pylibmc
urllib
optimizer
wsgiref
shell_completion
_emoji_codes
managers
tty
_path
urllib3_secure_extra
_socket
six
jinja2
iniconfig
heart
mmap_dict
dl
bz2
colorama
_common
pickle
converters
sansio
mock
copy
loaders
pymongo
console
resource
log
nodenames
contextlib
win32com
eventlet
upload
style_transformation
version
gc
nodes
random
optparse
compileall
_osx_support
gettext
elastic_transport
suggestion
_winapi
greenlet
scaffold
req_set
factory
theme
fastjsonschema_validations
sqlite3
win32file
warnings
_ssl_constants
secrets
test
debughelpers
views
_re
bpython
receiver
_exposition
_text
serializers
recipes
ntlm
defaults
signals
railroad
_deprecation_warning
gossip
_repl
numpy
_cell_widths
__version__
_fileno
_hooks
_distutils_hack
sqlalchemy
current
_imp
poolmanager
argparse
platform
queues
constrain
text
__future__
__pypy__
entity
_weakrefset
blueprints
_structseq
_json
rules
conemu
heap
pytz
bf
diagram
ocsp
helpers
_parse
data_structures
pycurl
_itertools
xml
webbrowser
ntpath
dialogs
inputhook
org
sessions
backports
platform_collector
timeout
fcntl
tags
tests
sandbox
deprecated
readline
_legacy
utils
messaging
req_file
asynchronous
table_wide
Pyro4
spawn
calendar
mingle
inspector
http
criterion
dummy_thread
socketserver
_extension
routes
zstandard
document
consul
atexit
google
execution_plan
zope
multiprocessing
color_depth
_state
weakref
humanize
search
HTMLParser
urls
components
terminal_theme
py36compat
table_zero
live_render
_warnings
asgiref
math
transport
keyring
clocks
einfo
distutils
shelve
cache
kombu
layout
bisect
style
trove_classifiers
subprocess
objgraph
codecs
etag
unicodedata
vine
binascii
in_memory
elasticsearch
mixins
providers
site
security
pasterapp
typing_extensions
variables
_apply_pyprojecttoml
pyArango
amqp
spinner
connectionpool
datastructures
sqs
msilib
padding
response
botocore
wrappers
edge
status_codes
pyrabbit
errors
toolbars
_crontab
httplib
pygments
bdb
constants
range
_speedups
number
auth
urllib2
encoding
cells
compression
coverage
wsgi
schedules
selectors
cassandra
tarfile
default_styles
select
etcd
difflib
_code
parser
encodings
request
importlib
monkey
session
_posixsubprocess
key_binding
_subprocess
packages
file_proxy
live
decorators
fields
base64
timeseries
serialization
jupyter
billiard
fileinput
query_result
profile
objects
ctx
testing
filters
tasks
_wrap
term
url
tempfile
deduplicate
reprlib
prometheus_client
asyncssh
__about__
isodate
couchbase
provider
_suppress
_util
highlighter
worker
_dummy_thread
extern
sentry_sdk
annotations
pdb
consumer
_completer
util
repr
app
cluster
findpaths
openmetrics
kazoo
filepost
resources
pkgutil
formatting
watchdog
csp
prompt
_securetransport
_tokenizer
_typeshed
plain_text
zipfile
pstats
filelock
promises
wait
key_processor
field
annotationlib
connections
intermediate_queue
popen_spawn_win32
ipaddress
lzma
ctypes
_emoji_replace
couchbase_core
_utils
output
markupsafe
popen_fork
resource_sharer
structs
credentials
mimetypes
ipywidgets
pywintypes
accept
ansi
_structures
core
fnmatch
choice_input
reports
_impl
html
context_managers
unittest
unicode_versions
vt100
pty
socks
fuzzy_completer
certifi
textwrap
cache_control
logutils
termios
panel
progress_bar
librabbitmq
argparsing
py38compat
_aix_support
sharedctypes
dis
auto_suggest
intranges
common
pydoc
_ssl
itsdangerous
ssltransport
i18n
queue
color
termui
functools
control
qpidtoollibs
scrollable_pane
StringIO
_catch
encoders
pyperclip
sets
zipp
posix_pipe
middleware
cPickle
pudb
results
apport_python_hook
key
_spinners
linecache
popen_spawn_posix
tomli
win32_pipe
_windows
distro
config
mouse_handlers
faulthandler
named_commands
string
key_bindings
_frozen_importlib_external
gevent
windows10
resp3
connection
_frozen_importlib
wcwidth
dateutil
registry
event
command
autoretry
netrc
events
debug
setuptools
runpy
requests
configparser
base
resp2
_reloader
terminalwriter
environment
runtime
table_vs16
error_reporting
stat
_loop
scheduler
abstract
azure
marshal
pycouchdb
xmlrpc
markup
syntax
win32api
_timer
filesystem
crontab
psutil
fractions
brotli
click_plugins
history
menus
method_framing
exc
_reqs
_importlib
protocol
node
synchronize
confluent_kafka
traceback
abstract_channel
_thread
_callers
glob
heapq
_macos
decorator
code
div
importlib_metadata
specifiers
templating
vt100_parser
async_utils
pager
result
source
werkzeug
indexDefinition
main
fallback
emoji
pexpect
_in_process
samples
tblib
path
query
redismodules
click_didyoumean
rq_scheduler
matcher
containers
builtins
rule
inotify
_meta
getpass
segment
bindings
com
contextvars
semaphore_tracker
ssl_
py
api
exposition
async_generator
structures
tz
certificate
array
columns
uts46data
_win
_ratio
sentinel
operator
reduction
_termui_impl
exceptions
copyreg
nested
_log_render
threading
_api
grp
hmac
dimension
_string
pluggy
sphinx
itertools
hooks
winterm
pkg_resources
controls
abc
dummy_threading
_factories
isoparser
setproctitle
palette
paste
scroll
package_data
socket
async_timeout
_dists
licenses
tokenize
xmlrpclib
server
_ext
lexer
jnius
contextlib2
resolvers
UserDict
more
candidates
agent
django
_toml_compat
align
__main__
_openssl
process_collector
pretty
zoneinfo
popen_forkserver
celery
tomllib
channel
url_safe
timer
status
formparser
decimal
_pypy_irc_topic
StringIO
IPython
OpenSSL
HTMLParser
indexDefinition
UserDict
cPickle
ConfigParser
Cython
pyArango
cProfile
Queue
Pyro4
StringIO
IPython
OpenSSL
HTMLParser
indexDefinition
UserDict
cPickle
ConfigParser
Cython
pyArango
cProfile
Queue
Pyro4
StringIO
IPython
OpenSSL
HTMLParser
indexDefinition
UserDict
cPickle
ConfigParser
Cython
pyArango
cProfile
Queue
Pyro4
StringIO
IPython
OpenSSL
HTMLParser
indexDefinition
UserDict
cPickle
ConfigParser
Cython
pyArango
cProfile
Queue
Pyro4
